body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Russo One', sans-serif;  
    margin: 0;
}
.container{
    display: flex;
}

h1{
    color: rgb(107, 106, 106);
    font-size: 50px;  
    letter-spacing: .2rem;
    border-left: 4px solid rgb(10, 10, 10);
   padding-left: 15px;
}
.color-headline{
    color: #480562;
}
h2{
    color: rgb(5, 5, 5);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;  
   padding-left: 15px;
   text-align: center;
}
h3{
    color: rgb(54, 54, 54);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 35px;  
   padding-left: 15px;
}
h4{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(5, 5, 5);
    font-size: 25px;  
    line-height: 0;

}
p{
    font-size: 18px;
    color: rgb(71, 70, 70);
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}
section{
    margin: 10%;
}
.half-width{
    width: 50%;
    padding-right: 5%;
}

.half-width img{
    width: 100%;;
}

.button-link{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-image: linear-gradient(rgb(198, 43, 226), rgb(59, 3, 82));
    padding: 12px 50px;
    margin: 60px 0px;
    font-weight: 500;
    border-radius: 5px;
}
.button{
    margin: 40px 0;
}
.square-box{
    background-color: seashell;
    margin-right: 30px;
    padding: 20px;
    border-radius: 20px;
}
.square-box:nth-child(2){
    background-color: rgb(237, 250, 202);
}
.square-box:nth-child(3){
    background-color: rgb(222, 253, 250);
}
.rectangle-box{
    background-color: #480562d0;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
}
.rectangle-box:hover{
    background-color: #480562;
}
.rectangle-box h4{
    color: white;
}

.lead-image{
    width: 40%;
    padding-right: 5%;
}
.article-area{
    width: 60%;
    padding-right: 5%;
}
.logo{
    width: 50%;
}
footer{
    background-color: rgb(29, 29, 29);
    text-align: center;
    padding: 20px;
}
.white-color{
    color: snow;
    font-size: 35px;
    font-family: cursive;
}

.footer-span{
    color: tomato;
}